# Creado por https://www.toptal.com/developers/gitignore/api/node
# Editar en https://www.toptal.com/developers/gitignore?templates=node

### Nodo ###
# Registros
registros
*.registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Informes de diagnóstico (https://nodejs.org/api/report.html)
informe.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Datos de tiempo de ejecución
pids
*.pid
*.semilla
*.pid.lock

# Directorio para las bibliotecas instrumentadas generadas por jscoverage/JSCover
lib-cov

# Directorio de cobertura utilizado por herramientas como Istanbul
cobertura
*.lcov

# cobertura de pruebas en Nueva York
.nyc_output

# Almacenamiento intermedio de Grunt (https://gruntjs.com/creating-plugins#storing-task-files)
.gruñido

# Directorio de dependencias de Bower (https://bower.io/)
componentes_bower

# Configuración de node-waf
.lock-wscript

# Complementos binarios compilados (https://nodejs.org/api/addons.html)
compilación/lanzamiento

# Directorios de dependencias
node_modules/
jspm_packages/

# Directorio de dependencias de Snowpack (https://snowpack.dev/)
módulos_web/

# Caché de TypeScript
*.tsbuildinfo

# Directorio de caché de npm opcional
.npm

# Caché de eslint opcional
.eslintcache

# Caché de stylelint opcional
.stylelintcache

# Caché de micropaquetes
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Historial REPL opcional
.node_repl_history

# Salida de 'npm pack'
*.tgz

# Archivo de integridad del hilo
.integridad-del-hilo

# Archivos de variables de entorno de dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caché de parcel-bundler (https://parceljs.org/)
.cache
.caché-parcela

# Salida de compilación de Next.js
.próximo
afuera

# Nuxt.js compila / genera salida
.nuxt
distrito

# Archivos de Gatsby
.cache/
# Comenta en la línea pública si tu proyecto usa Gatsby y no Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# público

# Salida de compilación de vuepress
.vuepress/dist

# Directorio temporal y de caché de VuePress v2.x
.temperatura

# Caché de Docusaurus y archivos generados
.docusaurus

# Directorios sin servidor
.sin servidor/

# Caché de la caja de fusibles
.caja de fusibles/

# Archivos locales de DynamoDB
.dynamodb/

# Archivo de puerto de TernJS
Puerto .tern

# Almacena las versiones de VSCode utilizadas para probar las extensiones de VSCode.
.vscode-test

# yarn v2
.yarn/caché
.hilo/desconectado
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Parche de nodo ###
# Directorios Webpack sin servidor
.webpack/

# Caché de stylelint opcional

# SvelteKit compila / genera salida
.svelte-kit

# Fin de https://www.toptal.com/developers/gitignore/api/node